@font-face {
  font-family: "iconfont"; /* Project id 5163413 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1776521744445') format('woff2'),
       url('iconfont.woff?t=1776521744445') format('woff'),
       url('iconfont.ttf?t=1776521744445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e667";
}

.icon-jiantou_xianxing_zuo:before {
  content: "\e871";
}

.icon-jiantou_xianxing_you:before {
  content: "\e872";
}

.icon-douyin:before {
  content: "\e66e";
}

.icon-weixin:before {
  content: "\e607";
}

